In [2]:
! ls input/train.csv

input/train.csv

In [3]:
import pandas as pd
import numpy as np

### Train Data EDA

In [4]:
df_train = pd.read_csv('./input/train.csv')

In [32]:
columns = df_train.columns
for col in columns:
    print(col)
    print(df_train[col].value_counts().sort_values(ascending=False))

Date
2007-08-01    551
2007-08-15    276
2007-08-24    186
2013-08-01    186
2007-08-21    186
2007-10-04    185
2007-08-07    184
2013-07-12    182
2013-07-19    182
2013-08-08    181
2011-07-25    179
2011-07-15    177
2013-08-22    167
2007-09-24    167
2009-07-17    164
2013-08-15    157
2013-07-25    153
2007-07-11    152
2011-07-11    146
2013-08-29    143
2013-09-06    143
2011-08-05    140
2013-09-12    139
2009-07-31    139
2007-08-22    139
2011-09-12    138
2011-07-29    138
2007-08-02    137
2007-09-12    135
2009-08-07    131
             ...
2007-07-27     83
2009-06-05     77
2013-06-07     77
2007-07-02     74
2009-07-13     71
2007-06-26     70
2009-10-01     65
2011-09-01     62
2011-06-10     62
2013-06-27     62
2011-09-30     61
2007-06-05     60
2013-06-28     60
2009-05-28     59
2009-09-03     55
2009-08-27     54
2007-08-17     54
2009-06-22     52
2007-09-06     50
2011-09-02     50
2007-06-29     46
2007-07-19     45
2009-06-15     32
2009-06-29     31
2007-08-09     26
2007-10-09     26
2007-05-29     25
2007-09-25     23
2009-06-03     14
2007-08-03      5
Name: Date, Length: 95, dtype: int64
Address
ORD Terminal 5, O'Hare International Airport, Chicago, IL 60666, USA                    750
South Doty Avenue, Chicago, IL, USA                                                     542
South Stony Island Avenue, Chicago, IL, USA                                             314
4100 North Oak Park Avenue, Chicago, IL 60634, USA                                      185
4200 West 127th Street, Alsip, IL 60803, USA                                            183
2200 North Cannon Drive, Chicago, IL 60614, USA                                         163
2400 East 105th Street, Chicago, IL 60617, USA                                          160
7000 West Armitage Avenue, Chicago, IL 60707, USA                                       156
3700 118th Street, Chicago, IL 60617, USA                                               152
University of Illinois at Chicago, 1100 South Ashland Avenue, Chicago, IL 60607, USA    151
5200 South Kolmar Avenue, Chicago, IL 60632, USA                                        148
3500 West 116th Street, Chicago, IL 60655, USA                                          147
1100 Roosevelt Road, Chicago, IL 60608, USA                                             146
5000 South Central Avenue, Chicago, IL 60638, USA                                       146
Ohare Court, Bensenville, IL 60106, USA                                                 140
7000 North Moselle Avenue, Chicago, IL 60646, USA                                       139
3600 North Pittsburgh Avenue, Chicago, IL 60634, USA                                    133
South Brandon Avenue, Chicago, IL 60617, USA                                            130
South Torrence Avenue, Chicago, IL, USA                                                 129
1000 East 67th Street, Chicago, IL 60637, USA                                           128
1000 North Central Park Avenue, Chicago, IL 60651, USA                                  126
4600 Milwaukee Avenue, Chicago, IL 60630, USA                                           122
1700 West 95th Street, Chicago, IL 60643, USA                                           121
5800 North Western Avenue, Chicago, IL 60659, USA                                       117
6700 South Kedzie Avenue, Chicago, IL 60629, USA                                        116
3900 South Ashland Avenue, Chicago, IL 60609, USA                                       115
1100 South California Avenue, Chicago, IL 60612, USA                                    114
4000 East 130th Street, Chicago, IL 60633, USA                                          112
South Cottage Grove Avenue, Chicago, IL, USA                                            112
8900 South Carpenter Street, Chicago, IL 60620, USA                                     111
                                                                                       ...
1800 West Farwell Avenue, Chicago, IL 60626, USA                                         22
1800 West Leland Avenue, Chicago, IL 60640, USA                                          21
6600 South Kilpatrick Avenue, Chicago, IL 60629, USA                                     21
South Mackinaw Avenue, Chicago, IL 60617, USA                                            21
9300 South Doctor Martin Luther King Junior Drive, Chicago, IL 60619, USA                21
2100 North Lawler Avenue, Chicago, IL 60639, USA                                         21
4700 South Cornell Avenue, Chicago, IL 60615, USA                                        20
5200 South Nordica Avenue, Chicago, IL 60638, USA                                        20
6100 South Melvina Avenue, Chicago, IL 60638, USA                                        19
4000 North Austin Avenue, Chicago, IL 60634, USA                                         18
East 138th Street, Riverdale, IL 60827, USA                                              17
2700 South Western Avenue, Chicago, IL 60608, USA                                        17
2100 North Stave Street, Chicago, IL 60647, USA                                          17
3300 West Randolph Street, Chicago, IL 60612, USA                                        15
2500 South Throop Street, Chicago, IL 60608, USA                                         15
4000 North Tripp Avenue, Chicago, IL 60641, USA                                          15
2200 West Pershing Road, Chicago, IL 60609, USA                                          15
6000 West Roscoe Street, Chicago, IL 60634, USA                                          14
West 37th Place, Chicago, IL, USA                                                        14
1500 West Granville Avenue, Chicago, IL 60660, USA                                       14
8000 South Kedzie Avenue, Chicago, IL 60652, USA                                         13
4900 West Sunnyside Avenue, Chicago, IL 60630, USA                                       12
2100 North Cannon Drive, Chicago, IL 60614, USA                                           9
6500 South Racine Avenue, Chicago, IL 60636, USA                                          8
South Wallace Street, Chicago, IL, USA                                                    8
3400 West 77th Street, Chicago, IL 60652, USA                                             7
9600 South Longwood Drive, Chicago, IL 60643, USA                                         5
5500 South Doctor Martin Luther King Junior Drive, Chicago, IL 60637, USA                 5
2900 West 85th Street, Chicago, IL 60652, USA                                             3
2100 South Hamlin Avenue, Chicago, IL 60623, USA                                          2
Name: Address, Length: 138, dtype: int64
Species
CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64
Block
10    1722
11     736
12     605
22     500
13     345
37     330
17     305
42     300
70     295
52     277
58     252
50     244
35     229
61     228
25     218
40     189
41     185
33     179
39     177
24     160
89     157
71     133
36     133
51     132
46     122
82     120
65     117
67     116
60     116
91     111
      ...
77      92
43      91
30      90
15      90
63      86
90      77
75      69
38      68
72      66
64      63
48      60
62      56
53      51
21      49
18      43
49      39
81      36
96      31
73      30
68      29
20      25
98      23
93      21
66      21
47      20
27      17
80      13
34       7
55       5
29       3
Name: Block, Length: 64, dtype: int64
Street
 W OHARE AIRPORT       750
 S DOTY AVE            542
 S STONY ISLAND AVE    347
 S ASHLAND AVE         266
 N OAK PARK AVE        216
 W 51ST ST             185
 W 127TH PL            183
 N PULASKI RD          173
 N CANNON DR           172
 E 105TH ST            160
  W ARMITAGE AVENUE    156
 W 95TH ST             154
 E 118TH ST            152
 S KOLMAR              148
 W 116TH ST            147
 S CENTRAL AVE         146
 W ROOSEVELT           146
 W OHARE               140
 N MOSELL AVE          139
 N PITTSBURGH AVE      133
 S BRANDON             130
 S KEDZIE AVE          129
 S TORRENCE AVE        129
 E 67TH ST             128
 N CENTRAL PARK DR     126
 N MILWAUKEE AVE       122
 N WESTERN AVE         117
 S CALIFORNIA          114
 S COTTAGE GROVE       112
 E 130TH ST            112
                      ...
 N MANDELL AVE          23
 N CALIFORNIA AVE       23
 W AGATITE AVE          22
 W FARWELL AVE          22
 E 91ST ST              22
 S MACKINAW             21
 W LELAND AVE           21
 S KILPATRICK AVE       21
 N LAWLER AVE           21
 S CORNELL AVE          20
 S NORDICA              20
 S MELVINA AVE          19
 N AUSTIN AVE           18
 N STAVE ST             17
 E 138TH ST             17
 S WESTERN AVE          17
 S THROOP               15
 E RANDOLPH ST          15
 N TRIPP AVE            15
 W PERSHING RD          15
 W GRANVILLE AVE        14
 W ROSCOE ST            14
 W 37TH PL.             14
 W SUNNYSIDE AVE        12
 S WALLACE ST            8
 S RACINE AVE            8
 W 77TH ST               7
 S LONGWOOD DR           5
 W 85TH ST               3
 S HAMLIN AVE            2
Name: Street, Length: 128, dtype: int64
Trap
T900     750
T115     542
T138     314
T002     185
T135     183
T054     163
T128     160
T151     156
T212     152
T090     151
T114     148
T158     147
T048     146
T031     146
T903     140
T008     139
T011     133
T209     130
T200     129
T073     128
T030     126
T003     122
T094     121
T028     117
T066     116
T074     115
T047     114
T102     112
T221     112
T159     111
        ...
T150      22
T206      21
T154      21
T219      21
T162      21
T156      21
T070      20
T075      20
T071      19
T142      18
T034      17
T097      17
T050      17
T044      15
T001      15
T051      15
T060      15
T005      14
T157      14
T149      14
T072      13
T004      12
T054C      9
T229       8
T078       8
T238       7
T094B      5
T076       5
T237       3
T040       2
Name: Trap, Length: 136, dtype: int64
AddressNumberAndStreet
1000  W OHARE AIRPORT, Chicago, IL                  750
1200  S DOTY AVE, Chicago, IL                       542
1000  S STONY ISLAND AVE, Chicago, IL               314
4100  N OAK PARK AVE, Chicago, IL                   185
4200  W 127TH PL, Chicago, IL                       183
2200  N CANNON DR, Chicago, IL                      163
2400  E 105TH ST, Chicago, IL                       160
7000   W ARMITAGE AVENUE, Chicago, IL               156
3700  E 118TH ST, Chicago, IL                       152
1100  S ASHLAND AVE, Chicago, IL                    151
5200  S KOLMAR, Chicago, IL                         148
3500  W 116TH ST, Chicago, IL                       147
1100  W ROOSEVELT, Chicago, IL                      146
5000  S CENTRAL AVE, Chicago, IL                    146
1000  W OHARE, Chicago, IL                          140
7000  N MOSELL AVE, Chicago, IL                     139
3600  N PITTSBURGH AVE, Chicago, IL                 133
1300  S BRANDON, Chicago, IL                        130
1300  S TORRENCE AVE, Chicago, IL                   129
1000  E 67TH ST, Chicago, IL                        128
1000  N CENTRAL PARK DR, Chicago, IL                126
4600  N MILWAUKEE AVE, Chicago, IL                  122
1700  W 95TH ST, Chicago, IL                        121
5800  N WESTERN AVE, Chicago, IL                    117
6700  S KEDZIE AVE, Chicago, IL                     116
3900  S ASHLAND AVE, Chicago, IL                    115
1100  S CALIFORNIA, Chicago, IL                     114
4000  E 130TH ST, Chicago, IL                       112
1000  S COTTAGE GROVE, Chicago, IL                  112
8900  S CARPENTER ST, Chicago, IL                   111
                                                   ...
5300  W AGATITE AVE, Chicago, IL                     22
9300  S DR MARTIN LUTHER KING JR DR, Chicago, IL     21
6600  S KILPATRICK AVE, Chicago, IL                  21
1300  S MACKINAW, Chicago, IL                        21
1800  W LELAND AVE, Chicago, IL                      21
2100  N LAWLER AVE, Chicago, IL                      21
4700  S CORNELL AVE, Chicago, IL                     20
5200  S NORDICA, Chicago, IL                         20
6100  S MELVINA AVE, Chicago, IL                     19
4000  N AUSTIN AVE, Chicago, IL                      18
2100  N STAVE ST, Chicago, IL                        17
8200  E 138TH ST, Chicago, IL                        17
2700  S WESTERN AVE, Chicago, IL                     17
3300  E RANDOLPH ST, Chicago, IL                     15
2500  S THROOP, Chicago, IL                          15
2200  W PERSHING RD, Chicago, IL                     15
4000  N TRIPP AVE, Chicago, IL                       15
6000  W ROSCOE ST, Chicago, IL                       14
8100  W 37TH PL., Chicago, IL                        14
1500  W GRANVILLE AVE, Chicago, IL                   14
8000  S KEDZIE AVE, Chicago, IL                      13
4900  W SUNNYSIDE AVE, Chicago, IL                   12
2100  N CANNON DR, Chicago, IL                        9
1100  S WALLACE ST, Chicago, IL                       8
6500  S RACINE AVE, Chicago, IL                       8
3400  W 77TH ST, Chicago, IL                          7
5500  S DR MARTIN LUTHER KING JR DR, Chicago, IL      5
9600  S LONGWOOD DR, Chicago, IL                      5
2900  W 85TH ST, Chicago, IL                          3
2100  S HAMLIN AVE, Chicago, IL                       2
Name: AddressNumberAndStreet, Length: 138, dtype: int64
Latitude
41.974689    750
41.673408    542
41.726465    314
41.954690    185
41.662014    183
41.921965    163
41.704572    160
41.916265    156
41.680946    152
41.868077    151
41.798697    148
41.682587    147
41.801498    146
41.867108    146
41.957799    140
42.008314    139
41.944869    133
41.740641    130
41.678618    129
41.773215    128
41.899230    126
41.964242    122
41.720848    121
41.986921    117
41.771660    116
41.822536    115
41.868142    114
41.659112    112
41.750498    112
41.732984    111
            ...
41.729669     22
41.918705     21
41.966987     21
41.725517     21
41.737052     21
41.772846     21
41.799282     20
41.797616     20
41.781416     19
41.953067     18
41.843811     17
41.919343     17
41.644612     17
41.883284     15
41.953705     15
41.823065     15
41.846283     15
41.825902     14
41.942114     14
41.994469     14
41.747850     13
41.962728     12
41.925652      9
41.775051      8
41.753411      8
41.753391      7
41.794781      5
41.719140      5
41.738903      3
41.852652      2
Name: Latitude, Length: 138, dtype: int64
Longitude
-87.890615    750
-87.599862    542
-87.585413    314
-87.800991    185
-87.724608    183
-87.632085    163
-87.565666    160
-87.800515    156
-87.535198    152
-87.666901    151
-87.736812    148
-87.707973    147
-87.763416    146
-87.654224    146
-87.930995    140
-87.777921    139
-87.832763    133
-87.546587    130
-87.559308    129
-87.600880    128
-87.716788    126
-87.757639    122
-87.666014    121
-87.689778    117
-87.703047    116
-87.666343    115
-87.696269    114
-87.605294    112
-87.538693    112
-87.649642    111
             ...
-87.760070     22
-87.614258     21
-87.543067     21
-87.674677     21
-87.740029     21
-87.752329     21
-87.797894     20
-87.585487     20
-87.776532     19
-87.776792     18
-87.686763     17
-87.604498     17
-87.694259     17
-87.733974     15
-87.678378     15
-87.705085     15
-87.656913     15
-87.667827     14
-87.776385     14
-87.667736     14
-87.702716     13
-87.748367     12
-87.633590      9
-87.655356      8
-87.639817      8
-87.707394      7
-87.669539      5
-87.615989      5
-87.695443      3
-87.719887      2
Name: Longitude, Length: 138, dtype: int64
AddressAccuracy
8    4628
9    3980
5    1807
3      91
Name: AddressAccuracy, dtype: int64
NumMosquitos
1     2307
2     1300
50    1019
3      896
4      593
5      489
6      398
7      326
8      244
9      237
10     206
11     170
13     163
12     132
16     128
14     120
15     112
17     107
18      92
19      86
21      85
20      79
23      69
27      67
37      61
26      57
24      57
22      56
25      50
39      49
29      48
36      47
31      47
30      44
46      43
28      43
35      43
43      39
32      39
47      37
33      36
48      36
49      35
45      35
38      35
34      31
41      31
42      29
40      28
44      25
Name: NumMosquitos, dtype: int64
WnvPresent
0    9955
1     551
Name: WnvPresent, dtype: int64

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
Date                      10506 non-null object
Address                   10506 non-null object
Species                   10506 non-null object
Block                     10506 non-null int64
Street                    10506 non-null object
Trap                      10506 non-null object
AddressNumberAndStreet    10506 non-null object
Latitude                  10506 non-null float64
Longitude                 10506 non-null float64
AddressAccuracy           10506 non-null int64
NumMosquitos              10506 non-null int64
WnvPresent                10506 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.0+ KB

In [12]:
df_train['Date'].nunique()

95

In [13]:
df_train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [14]:
train = df_train.drop(labels=['Address','Block','Street',
                            'AddressNumberAndStreet',
                           'AddressAccuracy'],axis=1)

### Test Data EDA

In [15]:
df_test = pd.read_csv('./input/test.csv')
df_test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [18]:
columns_test = df_test.columns

for col in columns_test:
    print(col)
    print(df_test[col].value_counts())

Id
2047      1
7465      1
70920     1
72969     1
66826     1
68875     1
79116     1
81165     1
75022     1
77071     1
115986    1
103704    1
105753    1
99610     1
101659    1
111900    1
113949    1
107806    1
109855    1
21792     1
23841     1
17698     1
19747     1
29988     1
32037     1
25894     1
27943     1
93447     1
91398     1
97541     1
         ..
111331    1
62155     1
58057     1
115309    1
94843     1
76400     1
74353     1
80498     1
78451     1
68212     1
66165     1
72310     1
70263     1
92792     1
90745     1
96890     1
84604     1
60104     1
82557     1
88702     1
86655     1
43712     1
41665     1
47810     1
45763     1
35524     1
33477     1
39622     1
37575     1
2049      1
Name: Id, Length: 116293, dtype: int64
Date
2012-07-09    1293
2012-08-03    1282
2012-07-27    1282
2012-07-19    1260
2010-07-13    1257
2012-07-13    1256
2014-08-14    1254
2014-08-21    1253
2008-09-09    1248
2008-09-02    1247
2008-08-19    1247
2014-08-07    1247
2012-07-20    1245
2014-07-31    1245
2010-07-19    1241
2014-06-19    1236
2014-08-28    1234
2008-07-24    1234
2014-07-10    1233
2008-08-13    1233
2008-08-26    1232
2012-06-29    1231
2012-08-10    1231
2012-08-17    1229
2014-09-05    1229
2010-07-26    1229
2014-07-03    1229
2010-06-28    1227
2014-06-12    1225
2010-07-30    1225
              ...
2008-08-12    1214
2012-09-20    1214
2010-09-24    1214
2012-06-15    1214
2008-09-03    1213
2012-06-08    1213
2008-08-04    1213
2012-08-09    1213
2010-06-02    1212
2008-09-19    1211
2008-07-01    1211
2010-07-29    1211
2010-06-11    1211
2010-09-10    1210
2010-08-26    1210
2008-07-28    1210
2008-07-11    1209
2010-08-19    1209
2008-07-04    1209
2010-06-18    1209
2012-08-30    1209
2010-08-05    1209
2008-07-21    1208
2010-09-23    1208
2010-09-16    1208
2014-10-02    1208
2008-06-17    1208
2008-06-11    1208
2010-07-01    1208
2012-08-23    1208
Name: Date, Length: 95, dtype: int64
Address
ORD Terminal 5, O'Hare International Airport, Chicago, IL 60666, USA         1468
4100 North Oak Park Avenue, Chicago, IL 60634, USA                            857
7000 North Moselle Avenue, Chicago, IL 60646, USA                             822
3600 North Pittsburgh Avenue, Chicago, IL 60634, USA                          814
5800 North Pulaski Road, Chicago, IL 60646, USA                               803
7000 West Armitage Avenue, Chicago, IL 60707, USA                             797
2200 North Cannon Drive, Chicago, IL 60614, USA                               792
Ohare Court, Bensenville, IL 60106, USA                                       784
5800 North Western Avenue, Chicago, IL 60659, USA                             783
5800 North Ridge Avenue, Chicago, IL 60660, USA                               781
6100 North Lemont Avenue, Chicago, IL 60646, USA                              781
4600 Milwaukee Avenue, Chicago, IL 60630, USA                                 780
South Doty Avenue, Chicago, IL, USA                                           776
1000 East 67th Street, Chicago, IL 60637, USA                                 776
4500 North Campbell Avenue, Chicago, IL 60625, USA                            776
7200 North Oketo Avenue, Chicago, IL 60631, USA                               775
5100 North Mont Clare Avenue, Chicago, IL 60656, USA                          774
4200 West 127th Street, Alsip, IL 60803, USA                                  774
2400 East 105th Street, Chicago, IL 60617, USA                                774
3700 South Pulaski Road, Chicago, IL 60623, USA                               774
3700 118th Street, Chicago, IL 60617, USA                                     773
3500 West 116th Street, Chicago, IL 60655, USA                                773
5200 South Kolmar Avenue, Chicago, IL 60632, USA                              772
South Cottage Grove Avenue, Chicago, IL, USA                                  772
1000 North Central Park Avenue, Chicago, IL 60651, USA                        771
8900 South Carpenter Street, Chicago, IL 60620, USA                           770
2800 North Francisco Avenue, Chicago, IL 60618, USA                           769
6100 West Fullerton Avenue, Chicago, IL 60639, USA                            769
5000 South Union Avenue, Chicago, IL 60609, USA                               769
4000 East 130th Street, Chicago, IL 60633, USA                                769
                                                                             ...
1500 West Granville Avenue, Chicago, IL 60660, USA                            760
North Streeter Drive, Chicago, IL 60611, USA                                  760
6400 South Stony Island Avenue, Chicago, IL 60637, USA                        760
4900 West Balmoral Avenue, Chicago, IL 60630, USA                             760
4000 North Kedvale Avenue, Chicago, IL 60641, USA                             760
3800 East 115th Street, Chicago, IL 60617, USA                                760
6500 North Oak Park Avenue, Chicago, IL 60631, USA                            760
2100 North Stave Street, Chicago, IL 60647, USA                               760
6000 North Avondale Avenue, Chicago, IL 60631, USA                            760
East 91st Street, Chicago, IL, USA                                            760
6500 West Dakin Street, Chicago, IL 60634, USA                                760
2100 North Lawler Avenue, Chicago, IL 60639, USA                              760
7300 Cicero Avenue, Chicago, IL 60638, USA                                    760
3300 West Randolph Street, Chicago, IL 60612, USA                             760
South Mackinaw Avenue, Chicago, IL 60617, USA                                 760
1100 South Loomis Street, Chicago, IL 60607, USA                              760
1100 North Artesian Avenue, Chicago, IL 60622, USA                            760
5100 West 72nd Street, Chicago, IL 60638, USA                                 760
4000 North Austin Avenue, Chicago, IL 60634, USA                              760
9300 South Doctor Martin Luther King Junior Drive, Chicago, IL 60619, USA     760
6300 West 64th Street, Chicago, IL 60638, USA                                 760
1700 North Ashland Avenue, Chicago, IL 60622, USA                             760
2200 West 113th Street, Chicago, IL 60643, USA                                760
2100 North Cannon Drive, Chicago, IL 60614, USA                               760
1000 South California Avenue, Chicago, IL 60612, USA                          760
1000 West 95th Street, Chicago, IL 60643, USA                                 760
6000 West Montrose Avenue, Chicago, IL 60634, USA                             760
2600 East 136th Street, Chicago, IL 60633, USA                                760
East 138th Street, Riverdale, IL 60827, USA                                   760
2900 West 85th Street, Chicago, IL 60652, USA                                 760
Name: Address, Length: 151, dtype: int64
Species
CULEX PIPIENS/RESTUANS    15359
CULEX RESTUANS            14670
CULEX PIPIENS             14521
CULEX SALINARIUS          14355
CULEX TERRITANS           14351
CULEX TARSALIS            14347
CULEX ERRATICUS           14345
UNSPECIFIED CULEX         14345
Name: Species, dtype: int64
Block
10    8384
11    7614
22    4596
40    3809
37    3076
12    3062
42    3055
13    3050
17    3043
65    3042
21    3040
58    2367
61    2310
51    2301
52    2297
33    2287
25    2286
15    2282
60    2280
70    1619
46    1540
35    1535
50    1532
39    1532
89    1530
14    1530
91    1528
82    1526
71    1525
79    1523
      ...
49    1520
30    1520
96    1520
34    1520
18    1520
81    1520
41     857
36     814
45     776
72     775
24     774
28     769
77     767
43     764
55     763
67     763
48     762
75     761
80     760
26     760
66     760
68     760
90     760
73     760
93     760
27     760
47     760
20     760
98     760
63     760
Name: Block, Length: 65, dtype: int64
Street
 N OAK PARK AVE                   1617
 N PULASKI RD                     1564
 N CANNON DR                      1552
 S ASHLAND AVE                    1531
 S STONY ISLAND AVE               1528
 N KEDVALE AVE                    1527
 W 51ST ST                        1524
 S KEDZIE AVE                     1523
 S DR MARTIN LUTHER KING JR DR    1523
 W 95TH ST                        1521
 N LONG AVE                       1520
 S HOYNE AVE                      1520
 W OHARE AIRPORT                  1468
 N MOSELL AVE                      822
 N PITTSBURGH AVE                  814
  W ARMITAGE AVENUE                797
 W OHARE                           784
 N WESTERN AVE                     783
 N RIDGE AVE                       781
 N LEMONT AVE                      781
 N MILWAUKEE AVE                   780
 N CAMPBELL AVE                    776
 E 67TH ST                         776
 S DOTY AVE                        776
 N OKETO AVE                       775
 S PULASKI RD                      774
 N MONT CLARE AVE                  774
 E 105TH ST                        774
 W 127TH PL                        774
 W 116TH ST                        773
                                  ...
 W ROSCOE ST                       760
 N CALIFORNIA AVE                  760
 S THROOP                          760
 S PEORIA ST                       760
 N STREETER DR                     760
 N STAVE ST                        760
 W 72ND ST                         760
 E 111TH ST                        760
 W 77TH ST                         760
 N MANDELL AVE                     760
 W 31ST ST                         760
 S LONGWOOD DR                     760
 W GREENLEAF AVE                   760
 S AVENUE G                        760
 S OGLESBY AVE                     760
 E 136TH ST                        760
 W FOSTER AVE                      760
 W FARWELL AVE                     760
 W DAKIN ST                        760
 W HIGGINS AVE                     760
 S CORNELL AVE                     760
 W AGATITE AVE                     760
 N MELVINA AVE                     760
 W 113TH ST                        760
 S HAMLIN AVE                      760
 E 91ST ST                         760
 N AVONDALE AVE                    760
 S LOOMIS ST                       760
 W 64TH ST                         760
 E RANDOLPH ST                     760
Name: Street, Length: 139, dtype: int64
Trap
T009     1528
T035     1520
T900     1468
T002      857
T008      822
T011      814
T027      803
T151      797
T054      792
T903      784
T028      783
T012      781
T231      781
T003      780
T115      776
T220      776
T073      776
T016      775
T128      774
T223      774
T063      774
T135      774
T158      773
T212      773
T114      772
T102      772
T030      771
T159      770
T082      769
T147      769
         ...
T099      760
T090C     760
T037      760
T156      760
T154      760
T002B     760
T218A     760
T149      760
T157      760
T071      760
T077      760
T015      760
T219      760
T096      760
T238      760
T153      760
T160      760
T086      760
T002A     760
T150      760
T234      760
T141      760
T072      760
T004      760
T019      760
T017      760
T070      760
T060      760
T094B     760
T103      760
Name: Trap, Length: 149, dtype: int64
AddressNumberAndStreet
1000  W OHARE AIRPORT, Chicago, IL       1468
4100  N OAK PARK AVE, Chicago, IL         857
7000  N MOSELL AVE, Chicago, IL           822
3600  N PITTSBURGH AVE, Chicago, IL       814
5800  N PULASKI RD, Chicago, IL           803
7000   W ARMITAGE AVENUE, Chicago, IL     797
2200  N CANNON DR, Chicago, IL            792
1000  W OHARE, Chicago, IL                784
5800  N WESTERN AVE, Chicago, IL          783
6100  N LEMONT AVE, Chicago, IL           781
5800  N RIDGE AVE, Chicago, IL            781
4600  N MILWAUKEE AVE, Chicago, IL        780
1000  E 67TH ST, Chicago, IL              776
4500  N CAMPBELL AVE, Chicago, IL         776
1200  S DOTY AVE, Chicago, IL             776
7200  N OKETO AVE, Chicago, IL            775
5100  N MONT CLARE AVE, Chicago, IL       774
3700  S PULASKI RD, Chicago, IL           774
2400  E 105TH ST, Chicago, IL             774
4200  W 127TH PL, Chicago, IL             774
3700  E 118TH ST, Chicago, IL             773
3500  W 116TH ST, Chicago, IL             773
1000  S COTTAGE GROVE, Chicago, IL        772
5200  S KOLMAR, Chicago, IL               772
1000  N CENTRAL PARK DR, Chicago, IL      771
8900  S CARPENTER ST, Chicago, IL         770
6100  W FULLERTON AVE, Chicago, IL        769
5000  S UNION AVE, Chicago, IL            769
4000  E 130TH ST, Chicago, IL             769
2800  N FRANCISCO AVE, Chicago, IL        769
                                         ...
4200  N RICHMOND ST, Chicago, IL          760
2900  W 85TH ST, Chicago, IL              760
1100  S WALLACE ST, Chicago, IL           760
6300  W 64TH ST, Chicago, IL              760
9800  S AVENUE G, Chicago, IL             760
6400  S STONY ISLAND AVE, Chicago, IL     760
6100  S MELVINA AVE, Chicago, IL          760
1500  N LONG AVE, Chicago, IL             760
3400  N LONG AVE, Chicago, IL             760
1300  S MACKINAW, Chicago, IL             760
2200  W PERSHING RD, Chicago, IL          760
2100  S HAMLIN AVE, Chicago, IL           760
2200  W 113TH ST, Chicago, IL             760
4000  N TRIPP AVE, Chicago, IL            760
5200  S NORDICA, Chicago, IL              760
3000  W 18TH ST, Chicago, IL              760
4000  S DEARBORN ST, Chicago, IL          760
8900  S MUSKEGON AVE, Chicago, IL         760
4600  N MELVINA AVE, Chicago, IL          760
7300  S CICERO AVE, Chicago, IL           760
6000  N AVONDALE AVE, Chicago, IL         760
2100  N CANNON DR, Chicago, IL            760
4200  W 31ST ST, Chicago, IL              760
1100  S STATE ST, Chicago, IL             760
6500  S RACINE AVE, Chicago, IL           760
1000  W 95TH ST, Chicago, IL              760
2600  E 136TH ST, Chicago, IL             760
2700  S WESTERN AVE, Chicago, IL          760
8200  E 138TH ST, Chicago, IL             760
7100  S SOUTH SHORE DR, Chicago, IL       760
Name: AddressNumberAndStreet, Length: 151, dtype: int64
Latitude
41.974689    1468
41.954690     857
42.008314     822
41.944869     814
41.984809     803
41.916265     797
41.921965     792
41.957799     784
41.986921     783
41.991429     781
41.987280     781
41.964242     780
41.773215     776
41.673408     776
41.963976     776
42.011601     775
41.973845     774
41.662014     774
41.825610     774
41.704572     774
41.682587     773
41.680946     773
41.798697     772
41.750498     772
41.899230     771
41.732984     770
41.659112     769
41.932094     769
41.803423     769
41.923738     769
             ...
41.862292     760
41.721474     760
41.729669     760
41.836644     760
41.918705     760
41.747850     760
41.775051     760
41.919343     760
41.949830     760
41.868533     760
41.942285     760
42.010412     760
41.778748     760
41.912563     760
41.731922     760
41.719140     760
41.869107     760
41.990284     760
41.799282     760
41.966987     760
41.846283     760
41.907645     760
41.717753     760
41.960616     760
41.961743     760
41.797616     760
41.781416     760
41.644612     760
41.883284     760
41.852652     760
Name: Latitude, Length: 151, dtype: int64
Longitude
-87.890615    1468
-87.800991     857
-87.777921     822
-87.832763     814
-87.728492     803
-87.800515     797
-87.632085     792
-87.930995     784
-87.689778     783
-87.747113     781
-87.666066     781
-87.757639     780
-87.691810     776
-87.599862     776
-87.600880     776
-87.811506     775
-87.726549     774
-87.724608     774
-87.805059     774
-87.565666     774
-87.707973     773
-87.535198     773
-87.605294     772
-87.736812     772
-87.716788     771
-87.649642     770
-87.700117     769
-87.538693     769
-87.785288     769
-87.642984     769
              ...
-87.781978     760
-87.730890     760
-87.719887     760
-87.661638     760
-87.668055     760
-87.531657     760
-87.582699     760
-87.678378     760
-87.812827     760
-87.531635     760
-87.776385     760
-87.627561     760
-87.698457     760
-87.604498     760
-87.675088     760
-87.662140     760
-87.795585     760
-87.655356     760
-87.745602     760
-87.648064     760
-87.776532     760
-87.633590     760
-87.797894     760
-87.795180     760
-87.761726     760
-87.614258     760
-87.695443     760
-87.742302     760
-87.776792     760
-87.688267     760
Name: Longitude, Length: 151, dtype: int64
AddressAccuracy
8    61973
9    39795
5    13761
3      764
Name: AddressAccuracy, dtype: int64

In [19]:
df_test['Date'].nunique()

95

In [20]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116293 entries, 0 to 116292
Data columns (total 11 columns):
Id                        116293 non-null int64
Date                      116293 non-null object
Address                   116293 non-null object
Species                   116293 non-null object
Block                     116293 non-null int64
Street                    116293 non-null object
Trap                      116293 non-null object
AddressNumberAndStreet    116293 non-null object
Latitude                  116293 non-null float64
Longitude                 116293 non-null float64
AddressAccuracy           116293 non-null int64
dtypes: float64(2), int64(3), object(6)
memory usage: 9.8+ MB

In [21]:
df_test['Id'].nunique()

116293

In [22]:
test = df_test.drop(labels=['Address','Block','Street',
                            'AddressNumberAndStreet',
                           'AddressAccuracy'],axis=1)

### Weather data EDA

In [23]:
df_weather = pd.read_csv('./input/weather.csv')

In [36]:
df_weather.head(2)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6

In [24]:
df_weather.nunique()

Station           2
Date           1472
Tmax             63
Tmin             54
Tavg             60
Depart           42
DewPoint         54
WetBulb          48
Heat             31
Cool             31
Sunrise         122
Sunset          119
CodeSum          98
Depth             2
Water1            1
SnowFall          4
PrecipTotal     168
StnPressure     104
SeaLevel        102
ResultSpeed     190
ResultDir        36
AvgSpeed        178
dtype: int64

In [25]:
columns_w = df_weather.columns
for col in columns_w:
    print(col)
    print(df_weather[col].value_counts())

Station
1    1472
2    1472
Name: Station, dtype: int64
Date
2011-06-16    2
2014-09-19    2
2013-06-01    2
2008-10-12    2
2008-09-10    2
2010-05-17    2
2010-10-24    2
2009-05-18    2
2009-07-27    2
2012-10-16    2
2014-07-04    2
2014-09-07    2
2014-06-07    2
2010-06-13    2
2008-05-29    2
2010-09-04    2
2009-08-20    2
2012-09-17    2
2007-05-13    2
2013-09-02    2
2014-09-15    2
2009-05-29    2
2012-10-29    2
2009-09-28    2
2007-07-24    2
2009-07-30    2
2014-09-22    2
2014-06-01    2
2011-06-02    2
2007-09-09    2
             ..
2010-08-21    2
2008-10-01    2
2011-09-25    2
2009-10-23    2
2009-08-15    2
2007-08-04    2
2014-10-12    2
2009-10-03    2
2010-08-28    2
2011-05-11    2
2013-08-03    2
2009-10-08    2
2014-06-08    2
2010-10-03    2
2007-07-20    2
2010-07-24    2
2010-09-02    2
2008-09-07    2
2013-07-04    2
2014-10-22    2
2011-10-18    2
2014-08-09    2
2008-10-20    2
2009-08-03    2
2007-07-04    2
2007-05-01    2
2008-07-31    2
2014-06-14    2
2008-10-28    2
2011-09-04    2
Name: Date, Length: 1472, dtype: int64
Tmax
84     128
79     121
82     118
81     117
83     109
80     107
85     107
86     101
77     100
87      97
88      91
74      85
78      84
89      83
75      79
76      79
72      72
70      71
73      65
71      64
90      62
67      62
91      61
69      60
68      60
66      50
60      50
65      46
63      43
62      43
      ...
93      34
59      31
55      29
56      28
94      28
57      27
58      26
53      25
54      23
50      19
51      18
95      16
52      13
49      12
96      11
48      11
46       9
47       9
97       6
44       5
98       5
45       5
99       5
101      4
100      3
102      2
103      2
104      1
41       1
42       1
Name: Tmax, Length: 63, dtype: int64
Tmin
63    121
65    111
60    109
61    106
62    105
66    103
68    103
57    103
64    101
59    100
56     98
69     95
71     95
58     94
70     90
67     89
54     81
49     78
52     74
50     72
55     71
53     71
47     69
44     59
46     58
43     58
51     57
48     55
45     55
72     50
42     46
73     46
41     38
40     33
39     29
74     29
75     28
38     22
37     21
36     20
77     20
34     12
35     11
33     10
79      9
31      7
32      7
29      6
76      6
78      4
80      3
81      3
82      2
83      1
Name: Tmin, dtype: int64
Tavg
73    138
70    117
77    117
75    110
71    109
74    107
72    104
69    103
78    102
76    100
68     99
79     98
66     93
67     89
61     88
64     86
65     84
80     84
63     81
57     67
62     66
60     61
50     57
81     55
53     49
58     49
82     48
54     48
55     48
56     46
52     46
59     45
51     36
83     34
49     29
45     28
47     24
46     24
84     21
44     19
48     17
85     16
86     16
42     15
43     12
M      11
87      9
41      7
40      5
89      4
39      4
88      4
91      4
38      2
37      2
90      2
36      2
93      1
92      1
94      1
Name: Tavg, dtype: int64
Depart
M      1472
 2       93
-1       84
-2       80
 5       77
 1       76
 7       76
 3       75
 0       74
-3       72
 4       71
 6       67
 8       59
-5       57
-4       56
-6       50
 9       47
10       46
-8       43
-7       30
11       28
12       28
-9       25
13       23
-10      22
14       22
15       15
16       12
-11      10
-12       8
17        7
18        6
-14       6
-13       5
20        4
19        4
22        3
-15       3
-16       3
21        2
-17       2
23        1
Name: Depart, dtype: int64
DewPoint
59    128
54    125
55    114
60    113
61    110
52    100
56     99
53     98
65     97
62     91
51     90
50     89
67     88
63     86
57     85
49     82
46     76
66     74
58     73
69     69
47     67
64     67
68     65
48     63
43     61
45     59
44     58
40     57
39     53
41     51
70     45
38     43
42     43
71     37
37     37
36     31
35     29
34     27
31     23
30     22
33     22
32     22
29     17
72     15
73      9
27      8
26      7
28      5
25      4
23      3
24      3
74      2
75      1
22      1
Name: DewPoint, dtype: int64
WetBulb
63    135
65    131
59    129
61    123
64    121
62    118
67    117
66    113
60    111
69    107
57    105
70    102
55     99
71     99
68     98
58     95
56     95
52     78
46     72
72     71
53     69
47     61
51     57
73     56
54     56
50     55
45     53
48     51
49     50
74     50
44     45
42     35
40     31
43     31
75     20
41     19
38     17
39     15
36      9
76      8
35      8
77      8
37      5
33      5
34      5
M       4
78      1
32      1
Name: WetBulb, dtype: int64
Heat
0     1870
4       88
1       86
2       81
8       67
3       66
5       61
15      57
12      49
7       49
11      48
10      48
13      46
9       46
6       45
14      36
16      29
20      28
19      24
18      24
21      19
17      17
23      15
22      12
M       11
24       7
25       5
26       4
28       2
27       2
29       2
Name: Heat, dtype: int64
Cool
 0    1147
 8     138
 5     117
12     117
10     110
 6     109
 9     107
 7     104
 4     103
13     102
11     100
 3      99
14      98
 1      93
 2      89
15      84
16      55
17      48
18      34
19      21
21      16
20      16
M       11
22       9
24       4
26       4
23       4
25       2
27       1
28       1
29       1
Name: Cool, dtype: int64
Sunrise
-       1472
0416     104
0417      64
0419      40
0425      32
0420      32
0422      32
0418      32
0428      24
0421      24
0423      24
0433      24
0424      16
0434      16
0436      16
0431      16
0429      16
0426      16
0437      16
0442      16
0447      16
0441      16
0446      16
0443      16
0430      16
0439      16
0427      16
0444      16
0448      16
0435      16
        ...
0457       8
0535       8
0622       8
0544       8
0559       8
0616       8
0557       8
0614       8
0456       8
0602       8
0618       8
0516       8
0620       8
0539       8
0541       8
0606       8
0610       8
0524       8
0449       8
0501       8
0550       8
0543       8
0528       8
0512       8
0510       8
0445       8
0506       8
0612       8
0611       8
0549       8
Name: Sunrise, Length: 122, dtype: int64
Sunset
-       1472
1931      96
1930      56
1929      48
1928      32
1925      32
1927      32
1923      32
1918      24
1920      24
1916      24
1926      24
1914      16
1913      16
1909      16
1910      16
1904      16
1915      16
1858      16
1903      16
1906      16
1908      16
1856      16
1919      16
1911      16
1924      16
1921      16
1852      16
1902      16
1859      16
        ...
1739       8
1722       8
1755       8
1756       8
1758       8
1703       8
1834       8
1857       8
1760       8
1744       8
1714       8
1905       8
1842       8
1912       8
1715       8
1829       8
1832       8
1819       8
1742       8
1653       8
1843       8
1746       8
1831       8
1860       8
1822       8
1712       8
1751       8
1649       8
1837       8
1845       8
Name: Sunset, Length: 119, dtype: int64
CodeSum
                        1609
RA                       296
RA BR                    238
BR                       110
TSRA RA BR                92
BR HZ                     81
RA DZ BR                  65
TSRA RA                   43
HZ                        39
RA BR HZ                  38
TSRA                      34
RA DZ                     22
TSRA BR                   21
TS TSRA RA BR             19
RA HZ                     16
TS RA                     13
TSRA RA BR HZ             12
TS                        10
DZ BR                     10
TS TSRA BR                10
DZ BR HZ                   9
TS RA BR                   8
DZ                         8
TSRA BR HZ                 8
RA DZ BR HZ                7
TS TSRA                    7
TS TSRA BR HZ              7
TS TSRA RA                 7
FG+ BR                     4
TS BR                      4
                        ...
HZ FU                      1
TSRA BR HZ VCTS            1
RA FG+ BR                  1
BR VCTS                    1
RA DZ FG+ BCFG BR          1
TSRA BR SQ                 1
RA DZ FG+ BR HZ            1
FG+ FG BR                  1
TS TSRA RA FG BR HZ        1
TSRA DZ FG+ FG BR HZ       1
RA BR FU                   1
TSRA RA BR HZ VCTS         1
TSRA BR HZ FU              1
TSRA RA FG+ BR             1
TS HZ                      1
RA DZ SN                   1
RA BR VCFG                 1
TS TSRA VCFG               1
TS TSRA GR RA BR           1
RA DZ FG+ BR               1
BR HZ VCFG                 1
RA BCFG BR                 1
TS TSRA RA BR VCTS         1
TSRA DZ BR HZ              1
FG+                        1
TSRA FG+ BR HZ             1
TS RA BR HZ                1
FG+ BCFG BR                1
RA VCTS                    1
RA BR HZ VCTS              1
Name: CodeSum, Length: 98, dtype: int64
Depth
M    1472
0    1472
Name: Depth, dtype: int64
Water1
M    2944
Name: Water1, dtype: int64
SnowFall
M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64
PrecipTotal
0.00    1577
  T      318
0.01     127
0.02      63
0.03      46
0.04      36
0.05      32
0.12      28
0.08      28
0.06      27
0.07      23
0.16      21
0.09      21
0.11      20
0.14      20
0.17      17
0.28      15
0.19      14
0.18      14
0.13      14
0.15      13
0.20      13
0.25      11
0.23      11
0.26      11
0.10      10
0.24      10
0.40       9
0.43       9
0.31       9
        ...
2.20       1
0.90       1
1.19       1
1.44       1
2.09       1
2.79       1
3.64       1
0.62       1
3.97       1
3.31       1
2.35       1
1.06       1
1.34       1
1.14       1
1.30       1
1.24       1
1.26       1
2.06       1
1.11       1
1.25       1
1.57       1
1.04       1
4.73       1
3.07       1
2.24       1
1.90       1
1.96       1
1.07       1
0.96       1
1.88       1
Name: PrecipTotal, Length: 168, dtype: int64
StnPressure
29.34    128
29.28    124
29.26    123
29.21    107
29.31    106
29.23    104
29.36     96
29.41     91
29.39     89
29.29     86
29.18     86
29.24     82
29.33     81
29.44     70
29.13     64
29.38     64
29.15     62
29.20     60
29.47     57
29.16     55
29.25     52
29.10     49
29.35     48
29.49     46
29.42     41
29.08     41
29.19     39
29.40     37
29.30     37
29.32     36
        ...
M          4
28.79      4
28.91      4
29.66      4
29.61      4
28.94      3
28.99      3
29.68      3
28.96      3
28.82      3
28.93      3
28.80      3
28.81      2
28.84      2
28.85      2
28.71      2
28.67      1
28.55      1
29.86      1
28.59      1
28.75      1
28.73      1
29.71      1
28.69      1
28.83      1
28.74      1
28.63      1
29.79      1
28.77      1
28.88      1
Name: StnPressure, Length: 104, dtype: int64
SeaLevel
30.00    96
29.98    85
29.94    85
29.92    83
29.89    82
30.05    81
29.95    80
30.02    80
29.91    80
29.93    79
29.96    77
29.97    73
29.99    73
30.04    72
30.03    72
30.01    72
30.06    69
29.87    62
29.90    60
29.86    59
29.85    57
29.88    56
30.08    55
30.10    53
29.83    53
30.07    52
30.11    52
30.09    50
29.84    47
29.82    44
         ..
29.59     7
29.55     6
29.62     6
30.31     6
29.53     4
29.63     4
30.37     4
30.36     4
29.45     4
29.64     3
30.34     3
29.54     3
29.56     3
29.48     2
30.40     2
29.34     2
29.50     2
29.51     2
29.52     2
30.38     2
29.23     1
30.39     1
30.41     1
29.44     1
29.25     1
29.46     1
30.52     1
30.53     1
29.47     1
29.43     1
Name: SeaLevel, Length: 102, dtype: int64
ResultSpeed
5.9     49
6.4     47
6.2     42
5.3     42
4.9     38
4.8     37
6.0     37
5.8     37
6.3     37
8.3     36
5.2     36
3.9     36
4.4     36
7.2     35
7.0     35
5.1     34
6.1     34
4.0     33
4.7     33
7.3     33
3.1     32
7.8     32
6.8     32
6.6     32
4.5     31
6.5     31
7.4     31
5.5     30
9.4     29
7.9     29
        ..
16.7     2
15.3     2
18.8     2
17.2     2
15.8     2
19.8     1
17.9     1
19.4     1
14.7     1
22.7     1
16.1     1
0.1      1
21.8     1
21.7     1
16.4     1
17.4     1
16.6     1
16.8     1
19.3     1
21.1     1
16.0     1
20.8     1
24.1     1
15.0     1
17.0     1
21.4     1
17.1     1
22.6     1
19.6     1
0.2      1
Name: ResultSpeed, Length: 190, dtype: int64
ResultDir
21    156
3     139
23    138
19    138
24    122
4     121
20    118
22    116
5     113
6     111
2     110
25    106
7      98
26     94
18     84
27     83
28     78
36     72
29     71
8      68
30     64
9      63
1      62
31     61
17     59
11     59
16     55
12     50
34     49
14     49
32     47
10     45
13     38
35     37
15     36
33     34
Name: ResultDir, dtype: int64
AvgSpeed
6.9     63
5.8     60
7.4     55
8.1     49
7.0     47
7.7     44
9.2     44
8.0     43
6.0     42
7.3     42
9.1     41
5.9     41
6.8     41
11.5    40
9.0     40
7.9     40
6.2     39
7.2     39
7.5     39
6.5     39
7.8     38
6.6     38
4.6     38
10.1    37
6.3     36
6.4     36
8.6     35
5.4     35
8.4     35
6.1     35
        ..
16.8     1
2.8      1
2.0      1
19.9     1
16.9     1
2.6      1
23.1     1
16.2     1
17.9     1
17.6     1
18.1     1
17.1     1
21.5     1
1.9      1
26.3     1
22.6     1
22.1     1
18.8     1
2.4      1
15.9     1
23.2     1
19.3     1
22.9     1
15.8     1
18.2     1
16.0     1
18.4     1
2.3      1
1.7      1
20.2     1
Name: AvgSpeed, Length: 178, dtype: int64

In [26]:
df_weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [27]:
weather = df_weather.drop(['CodeSum','Depth','Water1','SnowFall',
                          ],axis=1)

In [28]:
weather['Date'] = pd.to_datetime(weather['Date']) # convert date dtype to date
weather[['Tavg','WetBulb','Heat','Cool']] = weather[['Tavg','WetBulb','Heat','Cool']].copy().replace('M',0) # M to 0
weather[['Sunrise','Sunset']] = weather[['Sunrise','Sunset']].copy().replace('-',0) # converting -  to 0
weather['PrecipTotal'] = weather['PrecipTotal'].copy().str.strip().replace(['T','M'],[0,0]) # T and M to 0

In [29]:
foo = weather['Tavg']

In [30]:
weather['']

0       0448
1          0
2       0447
3          0
4       0446
5          0
6       0444
7          0
8       0443
9          0
10      0442
11         0
12      0441
13         0
14      0439
15         0
16      0438
17         0
18      0437
19         0
20      0436
21         0
22      0435
23         0
24      0434
25         0
26      0433
27         0
28      0432
29         0
        ...
2914    0606
2915       0
2916    0607
2917       0
2918    0608
2919       0
2920    0610
2921       0
2922    0611
2923       0
2924    0612
2925       0
2926    0613
2927       0
2928    0614
2929       0
2930    0616
2931       0
2932    0617
2933       0
2934    0618
2935       0
2936    0619
2937       0
2938    0620
2939       0
2940    0622
2941       0
2942    0623
2943       0
Name: Sunrise, Length: 2944, dtype: object

#### Weather Feature Engineering

In [341]:
num = np.exp((17.67*weather[' Tavg']/(243.5*weather['Tavg'])))
den = np.exp((17.67*weather['DewPoint']/(243.5*weather['DewPoint'])))
result = num/den
result

KeyError: ' Tavg'

In [340]:
humidity(Td,T)

NameError: name 'Td' is not defined

### Spray Data EDA

In [128]:
df_spray = pd.read_csv('./input/spray.csv')

In [232]:
df_spray.nunique()

Date            10
Time          8583
Latitude     12887
Longitude    13007
dtype: int64

In [130]:
columns_spray = df_spray.columns
for col in columns_spray:
    print(col)
    print(df_spray[col].value_counts())

Date
2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64
Time
7:44:32 PM     541
9:31:27 PM       5
8:58:26 PM       5
8:55:36 PM       5
9:35:47 PM       5
8:57:46 PM       5
9:38:27 PM       5
8:58:56 PM       5
9:37:27 PM       5
8:55:26 PM       5
8:55:46 PM       5
8:57:56 PM       5
8:59:06 PM       5
9:40:27 PM       5
9:05:56 PM       5
8:26:01 PM       4
9:39:27 PM       4
8:54:26 PM       4
8:54:16 PM       4
9:28:37 PM       4
8:28:16 PM       4
9:07:25 PM       4
8:58:46 PM       4
9:07:35 PM       4
9:17:36 PM       4
9:05:06 PM       4
8:55:06 PM       4
9:14:55 PM       4
8:30:51 PM       4
9:19:15 PM       4
              ...
8:31:24 PM       1
11:53:40 PM      1
11:49:11 PM      1
9:57:49 PM       1
9:26:20 PM       1
10:37:11 PM      1
10:00:21 PM      1
9:42:59 PM       1
7:50:43 PM       1
10:22:07 PM      1
9:24:04 PM       1
11:38:36 PM      1
7:37:53 PM       1
8:44:59 PM       1
9:55:45 PM       1
9:16:00 PM       1
9:01:22 PM       1
9:35:10 PM       1
11:44:46 PM      1
8:31:44 PM       1
9:16:30 PM       1
12:22:09 AM      1
8:46:37 PM       1
10:47:51 PM      1
10:14:37 PM      1
11:23:58 PM      1
6:58:38 PM       1
12:05:28 AM      1
7:54:32 PM       1
10:03:41 PM      1
Name: Time, Length: 8583, dtype: int64
Latitude
41.986460    541
41.995396     11
41.982772     10
41.994484      9
41.985652      9
41.984884      8
41.993524      8
41.996932      8
41.984068      8
41.995012      7
41.994436      7
41.992660      7
41.986372      7
41.993332      7
41.993428      7
41.992612      6
41.996500      6
41.992372      6
41.996020      6
41.996980      6
41.993476      6
41.948470      5
41.982676      5
41.983588      5
41.996884      5
41.982820      5
41.988196      5
41.985268      5
41.993380      5
41.989828      5
            ...
41.931488      1
41.882943      1
41.941743      1
41.733185      1
41.954487      1
41.735252      1
41.927697      1
41.784140      1
41.973953      1
41.903232      1
41.738012      1
41.946202      1
41.891492      1
41.893735      1
41.901985      1
41.937478      1
41.723147      1
41.949540      1
41.968763      1
41.718738      1
41.957280      1
41.906952      1
41.895017      1
41.941283      1
41.994130      1
41.899682      1
41.944358      1
41.729532      1
41.959322      1
41.945437      1
Name: Latitude, Length: 12887, dtype: int64
Longitude
-87.794225    541
-87.806911      9
-87.806863      9
-87.816751      7
-87.805711      6
-87.805615      6
-87.810415      5
-87.808351      5
-87.811567      5
-87.813727      5
-87.813199      5
-87.811855      5
-87.806959      5
-87.814111      4
-87.798775      4
-87.810319      4
-87.803695      4
-87.705312      4
-87.808255      4
-87.710883      4
-87.812767      4
-87.809407      4
-87.811903      4
-87.815983      4
-87.815188      4
-87.799762      3
-87.812017      3
-88.095143      3
-87.770608      3
-87.733588      3
             ...
-87.741028      1
-87.769603      1
-87.800045      1
-87.804170      1
-87.811397      1
-87.767268      1
-87.808390      1
-87.620657      1
-87.685887      1
-87.817423      1
-87.792414      1
-87.712677      1
-87.706483      1
-87.708160      1
-87.612317      1
-87.680170      1
-87.684527      1
-87.808737      1
-87.818067      1
-87.807871      1
-87.715878      1
-87.659443      1
-87.640740      1
-87.729017      1
-87.799135      1
-87.805135      1
-87.789482      1
-87.758925      1
-87.706100      1
-87.710575      1
Name: Longitude, Length: 13007, dtype: int64

In [131]:
df_spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [148]:
spray = df_spray.copy()

### Sample Submission data EDA

In [132]:
df_sample = pd.read_csv('./input/sampleSubmission.csv')
df_sample.head()

   Id  WnvPresent
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0

In [133]:
df_sample.nunique()

Id            116293
WnvPresent         1
dtype: int64

In [134]:
columns_samp = df_sample.columns
for col in columns_samp:
    print(col)
    print(df_sample[col].value_counts())

Id
2047      1
7465      1
70920     1
72969     1
66826     1
68875     1
79116     1
81165     1
75022     1
77071     1
115986    1
103704    1
105753    1
99610     1
101659    1
111900    1
113949    1
107806    1
109855    1
21792     1
23841     1
17698     1
19747     1
29988     1
32037     1
25894     1
27943     1
93447     1
91398     1
97541     1
         ..
111331    1
62155     1
58057     1
115309    1
94843     1
76400     1
74353     1
80498     1
78451     1
68212     1
66165     1
72310     1
70263     1
92792     1
90745     1
96890     1
84604     1
60104     1
82557     1
88702     1
86655     1
43712     1
41665     1
47810     1
45763     1
35524     1
33477     1
39622     1
37575     1
2049      1
Name: Id, Length: 116293, dtype: int64
WnvPresent
0    116293
Name: WnvPresent, dtype: int64

In [140]:
print('df_train date min/max','\n',df_train['Date'].min(), df_train['Date'].max())
print('df_test date min/max','\n',df_test['Date'].min(), df_test['Date'].max())
print('df_weather date min/max','\n',df_weather['Date'].min(), df_weather['Date'].max())
print('df_spray date min/max','\n',df_spray['Date'].min(), df_spray['Date'].max())

df_train date min/max
 2007-05-29 2013-09-26
df_test date min/max
 2008-06-11 2014-10-02
df_weather date min/max
 2007-05-01 2014-10-31
df_spray date min/max
 2011-08-29 2013-09-05